RewriteEngine On

# Si la petición es para un archivo o directorio real, no redirigir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todo lo demás a la carpeta public
RewriteRule ^(.*)$ public/$1 [L] 